.social-media {
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(-150px, 0);
  z-index: 1;
}

.social-media a {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  padding: 8px 20px;
  margin: 5px;
  width: 200px;
  text-align: right;
  transition: 1s;
  transition-property: transform;
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
}

.social-media a:hover {
  transform: translate(110px, 0);
}

.social-media a:hover i {
  filter: grayscale(0);
}

.social-media i {
  margin-left: 10px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  filter: grayscale(100%);
}

.social-media i.fa-laptop {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media a i {
  color: #1DA0F0;
}